.container{
    margin-bottom: 13.5em;
    max-width: 110em;
    max-height: 70em;
    background-color: white;
    border: 6px double #A40902;
    display: flex;
    border-radius: 1em;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: space-around;
    padding: 1em;
}

@media (max-width:740px){
    .container{
    width: 100%;
    }
}